* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(0, 0, 0);
}
.navbar-toggler{
  background-color: aqua;
}
.footer {
  display: flex;
  background-color: black;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}
.navbar{
  display: flex;
  width: 100vw;
}
.navimg {
  width: 8vw;
}
.navbar-nav {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}
nav-item:hover {
  background-color: gray;
}

#main_index {
  display: flex;
  height: 100%;
  background-color: rgb(204, 204, 204);
  padding: 20px;
  background-image: url(img/back.png);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  justify-items: center;
}
#main_put {
  display: flex;
  justify-content: center;
  /* background-image: url(img/logo.png); */
  background-repeat: no-repeat, repeat;
  background-color: rgb(204, 204, 204);
  padding: 20px;
}
#form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25vw;
  
  
}
#main_users {
  height: 100%;
  background-color: rgb(204, 204, 204);
  padding: 20px;
}
#table {
  background-color: rgb(5, 7, 7);
  margin: auto auto;
}

#tbody {
  border: 5px solid red;
  color: white;
  background-color: rgb(48, 48, 48);
}
td {
  color: rgb(255, 255, 255);
  border: 5px solid rgb(128, 128, 128);
  justify-content: center;
  text-align: center;
  padding: 10px;
}
h3 {
  color: rgb(238, 255, 0);
}
#main_cards {
  height: 100%;
  background-color: rgb(204, 204, 204);
  padding: 20px;
}
#phone.id{
  border: solid black ;
  border-radius: 30%;
}
/* #cards_div {
  display: flex;
  justify-content: space-between;
  

} */
#main_about {
  height: 100%;
  background-color: rgb(204, 204, 204);

  padding: 20px;
  text-align: center;
}
#main_contect {
  height: 100%; 
  background-color: rgb(204, 204, 204);
  padding: 20px;
}
