*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
  display: flex;
  background-color: black;
  justify-content: space-around;
  height: 10vh;
}
.navimg{
  width: 8vw;
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  
}
nav-item:hover{
  background-color: gray;
}

#main_index {
  height: 100%;
  /* background-image: url(img/back.png) ; */
  background-color: black;
  margin-top: 10px;
  padding: 20px;
  background-image: url(img/back.png);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#main_put{
  display: flex;
  justify-content: center;
  background-image: url(img/logo.png);
  background-repeat: no-repeat, repeat;
  background-color: black;
  
}
#main_users {
  height: 100%;
  /* background-image: url(img/back.png) ; */
  background-color: black;
  margin-top: 10px;
  padding: 20px;
}
#main_cards {
  height: 100%;
  /* background-image: url(img/back.png) ; */
  background-color: black;
  margin-top: 10px;
  padding: 20px;
}
#main_about{
  height: 100%;
  /* background-image: url(img/back.png) ; */
  background-color: black;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}
#cards_div {
  display: flex;
  justify-content: space-between;
}
h3 {
  color: rgb(238, 255, 0);
}
#table {
  background-color: rgb(5, 7, 7);
  margin: auto auto;
}

td {
  color: rgb(51, 255, 0);
  border: 5px solid rgb(128, 128, 128);
  justify-content: center;
  text-align: center;
  padding: 10px;
}

#tbody {
  border: 5px solid red;
  color: white;
  background-color: rgb(48, 48, 48);
}
#form{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25vw;
}


